#page {
    display: flex;
    margin: 0 32px;
    overflow-y: scroll;
}

.markdown {
    margin: 10vh 0;
    width: 100%;
}

.markdown :last-child {
    margin-bottom: 10vh;
}

@media only screen and (min-width: 800px) {
    #page {
        justify-content: center;
        margin: 0 0px;
    }

    .markdown {
        max-width: 60vw;
    }
}

