@font-face { 
    font-family: "gohu";
    src: url("../css/gohu.woff") format('woff');
}

@font-face { 
    font-family: "MD IO Regular";
    src: url("../css/MDIO0.4-Regular.woff") format('woff');
}

@font-face { 
    font-family: "MD IO Bold";
    src: url("../css/MDIO0.4-Bold.woff") format('woff');
}

body {
    font-family: "MD IO Regular", sans-serif;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    caret-color: transparent;
}

b {
    font-family: "MD IO Bold", sans-serif;
    font-weight: inherit;
}

a {
    user-select: none;
    cursor: pointer;
}