#grid {
    grid-area: page;
    display: grid;
    margin: 10vh 32px;
    grid-template-columns: 128px 1fr 1fr 128px;
    grid-template-rows: repeat(auto, 7) 1fr;
    grid-row-gap: 32px;
    grid-column-gap: 32px;
    grid-template-areas:
        "logo blank blank blank"
        "user user user avatar"
        "genres-heading genres-heading artists-heading artists-heading"
        "genres genres artists artists"
        "tracks-heading tracks-heading tracks-heading tracks-heading"
        "tracks tracks tracks tracks"
        "filter filter filter filter"
        "posts posts posts posts";
}

@media only screen and (min-width: 800px) {
    #grid {
        width: 60vw;
        margin: 10vh 0px;
    }
}

#blank {
    grid-area: blank;
    display: flex;
}

#logo {
    grid-area: logo;
    display: flex;
    width: 128px;
}

#logo img {
    width: 128px;
    height: 128px;
    filter: invert(1);
}

#avatar {
    grid-area: avatar;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#avatar img {
    width: 128px;
    height: 128px;
    border: 1px solid #989EA5;
    border-radius: 64px;
}

#user {
    grid-area: user;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#user h1, #user p {
    padding: 0;
    margin: 0;
    padding-bottom: 4px;
}

#genres {
    grid-area: genres;
}

#artists {
    grid-area: artists;
}

#tracks {
    grid-area: tracks;
}

#genres, #artists, #tracks {
    display: flex;
    flex-direction: column;
    background-color: #F1F1F1;
    color: #989EA5;
    padding: 8px 16px;
}

#genres span p, #artists span p, #tracks span p {
    display: inline-block;
    margin: 8px 16px;
}

#genres span p.index, #artists span p.index, #tracks span p.index {
    padding-right: 16px;
    border-right: 2px solid #989EA5;
}

#genres span p.text, #artists span p.text, #tracks span p.text {
    margin: 0;
}

#genres p, #artists p, #tracks p {
    padding: 0;
    margin: 0;
}

#genres-heading {
    grid-area: genres-heading;
}

#artists-heading {
    grid-area: artists-heading;
}

#tracks-heading {
    grid-area: tracks-heading;
}

#genres-heading, #artists-heading, #tracks-heading {
    display: flex;
    align-items: center;
    padding: 0;
}

#filter {
    grid-area: filter;
    display: grid;
    width: 100%;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto;
    grid-template-areas:
        "heading select";
}

#filter > #filter-heading {
    grid-area: heading;
    display: flex;
    align-items: center;
    padding: 0;
}

#posts {
    grid-area: posts;
    display: flex;
    flex-direction: column;
}