#grid {
    grid-area: page;
    display: grid;
    margin: 10vh 32px;
    grid-template-columns: 1fr auto;
    grid-template-rows: repeat(auto, 4) 1fr;
    grid-row-gap: 32px;
    grid-column-gap: 64px;
    grid-template-areas:
        "logo blank"
        "user navigation"
        "notice notice"
        "filter filter"
        "posts posts";
}

@media only screen and (min-width: 800px) {
    #grid {
        width: 60vw;
        margin: 10vh 0px;
    }
}

#blank {
    grid-area: blank;
    display: flex;
}

#logo {
    grid-area: logo;
    display: flex;
}

#logo img {
    width: 128px;
    height: 128px;
    filter: invert(1);
}

#navigation {
    grid-area: navigation;
    display: flex;
    align-items: center;
}

#user {
    grid-area: user;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#notice {
    grid-area: notice;
    display: flex;
    flex-direction: column;
}

#filter {
    grid-area: filter;
    display: grid;
    width: 100%;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto;
    grid-template-areas:
        "heading select";
}

#filter > #heading {
    grid-area: heading;
    display: flex;
    align-items: center;
    padding: 0;
}

#filter > #select {
    grid-area: select;
    display: flex;
    justify-content: flex-end;
    padding: 0;
}

#filter > #select ul {
    list-style: none;
    margin: auto 0;
}

#filter > #select li {
    display: inline-block;
    color: #989EA5;
    padding: 8px 16px;
    cursor: pointer;
}

#filter > #select li.current {
    background-color: #000000;
    color: #ffffff;
    border-radius: 32px;
}

#posts {
    grid-area: posts;
    display: flex;
    flex-direction: column;
}