#marquee {
    display: grid;
    width: 100vw;
    height: 100vh;
    max-height: 100vh;
    margin: 0;
    grid-template-columns: 32px 1fr 32px;
    grid-template-rows: 32px 1fr;
    grid-gap: 0;
    grid-template-areas:
        "top top right"
        "left page right"
}

@keyframes move {
    from {
        transform: translateX(calc(-100%));
    }
    to {
        transform: translateX(calc(100vw));
    }
}

#marquee #left, #marquee #top, #marquee #right {
    display: flex;
    align-items: center;
    max-height: 32px;
    background-color: #000000;
    color: #ffffff;
    overflow: hidden;
}

#marquee span {
    display: inline-block;
    position: absolute;
    left: 0;
    animation: move 20s infinite linear;
}

#marquee span.second {
    animation-fill-mode: both;   
    animation-delay: 10s;
}

#marquee #left {
    grid-area: left;
    width: calc(100vh - 32px);
    transform: rotate(90deg) rotate(180deg) translateX(calc(-100%));
    transform-origin: top left;
}

#marquee #top {
    grid-area: top;
    width: calc(100vw - 32px);
}

#marquee #right {
    grid-area: right;
    width: 100vh;
    transform: rotate(90deg) translateY(calc(-100%));
    transform-origin: top left;
}

#marquee #page {
    grid-area: page;
    display: flex;
    width: 100%;
    justify-content: center;
    overflow-x: hidden;
    overflow-y: scroll;
}