#marquee {
    display: grid;
    width: 100vw;
    height: 100vh;
    max-height: 100vh;
    margin: 0;
    grid-template-columns: 32px 1fr 32px;
    grid-template-rows: 32px 1fr;
    grid-gap: 0;
    grid-template-areas:
        "top top right"
        "left page right"
}

@keyframes move {
    to {
        transform:translateX(-100%);
        left: 100%;
    }
}

#marquee #left, #marquee #top, #marquee #right {
    display: flex;
    align-items: center;
    max-height: 32px;
    background-color: #000000;
    color: #ffffff;
}

#marquee span {
    display: inline-block;
    position: relative;
    left: 0;
    animation: move 10s alternate infinite linear;
}

#marquee #left {
    grid-area: left;
    width: 100vh;
    transform: rotate(90deg) rotate(180deg) translateX(calc(-100%)); /* rotate and center */
    transform-origin: top left;
}


#marquee #top {
    grid-area: top;
    width: 100vw;
}

#marquee #right {
    grid-area: right;
    width: 100vh;
    transform: rotate(90deg) translateY(calc(-100%)); /* rotate and center */
    transform-origin: top left;
}

#marquee #page {
    grid-area: page;
    display: flex;
    width: 100%;
    justify-content: center;
    overflow-y: scroll;
}