.post {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(auto, 3);
    grid-template-areas:
        "title title"
        "body body"
        "votes author";
    margin-bottom: 32px;
    border: coral 1px solid; /* debug */
}

.post > div {
    border: coral 1px solid; /* debug */
}

.post .title {
    grid-area: title;
    display: flex;
}

.post .body {
    grid-area: body;
    display: flex;

}

.post .author {
    grid-area: author;
    display: flex;

}

.post .votes {
    grid-area: votes;
    display: flex;

}