.post {
    display: grid;
    grid-template-columns: repeat(3, auto) 1fr;
    grid-template-rows: repeat(4, auto);
    grid-template-areas:
        "margin title title title"
        "margin body body body"
        "margin tags tags tags"
        "margin votes bullet posted_at";
    background-color: #F1F1F1;
    margin-bottom: 32px;
    padding: 8px 16px;
}

.post > div {
    padding: 0 16px;
    margin: 6px 0;
}

.post .margin {
    grid-area: margin;
    display: flex;
    margin: 8px 0px;
    color: #989EA5;
}

.post .title {
    grid-area: title;
    display: flex;
    letter-spacing: 1px;
}

.post .body {
    grid-area: body;
    display: flex;
}

.post .tags {
    grid-area: tags;
    display: flex;
}

.post .bullet {
    grid-area: bullet;
    display: flex;
    color: #989EA5;
    padding: 0;
}

.post .votes {
    grid-area: votes;
    display: flex;
    color: #989EA5;
    text-decoration: underline;
}

.post .posted_at {
    grid-area: posted_at;
    display: flex;
    color: #989EA5;
}

.post .posted_at u {
    padding-left: 8px;
}

.post .body, .post .title, .post .tags, .post .votes {
    border-left: 2px solid #989EA5;
}

.post .body p, .post .tags p {
    padding: 0;
    margin: 0;
}

.post .body a {
    display: inline;
}