.post {
    display: grid;
    grid-template-columns: repeat(3, auto) 1fr;
    grid-template-rows: repeat(3, auto);
    grid-template-areas:
        "margin title title title"
        "margin body body body"
        "margin votes posted_at author";
    margin-bottom: 32px;
}

.post > div {
    padding: 0 16px;
    margin: 8px 0;
}

.post .margin {
    grid-area: margin;
    display: flex;
    margin: 8px 0;
}

.post .title {
    grid-area: title;
    display: flex;
}

.post .body {
    grid-area: body;
    display: flex;

}

.post .author {
    grid-area: author;
    display: flex;
}

.post .posted_at {
    grid-area: posted_at;
    display: flex;
}

.post .votes {
    grid-area: votes;
    display: flex;
}

.post .body, .post .title, .post .votes {
    border-left: 2px solid #CFCFCF;
}